<section >
 <div class="jumbotron">
  <h1>About Jungle</h1>
  <p>Come and shop with us at Jungle.com, from amazing shrubs to towering trees, our site has everything for your plant needs!</p>
  <br> 
  <p>Please contact us at plantsforall@jungle.com for more information.</p>
</div>

</section>